@tailwind base;
@tailwind components;
@tailwind utilities;


/* Editando barra de rolagem*/
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
    background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
    border-radius: 3px; /* Raio da borda da barra de rolagem */
  }

  /* Editando o thumb (a alça de arrasto) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do thumb da barra de rolagem */
    border-radius: 3px; /* Raio da borda do thumb da barra de rolagem */
  }

  /* Estilize o thumb quando estiver em hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #212844; /* Cor do thumb da barra de rolagem em hover */
  }



  /* animation */

  .svg2 {
    width: 100px;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  
  .path.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }

@-webkit-keyframes dash {
  0% {
      stroke-dashoffset: 1000;
  }

  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
      stroke-dashoffset: 1000;
  }

  100% {
      stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
      stroke-dashoffset: -100;
  }

  100% {
      stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
      stroke-dashoffset: -100;
  }

  100% {
      stroke-dashoffset: 900;
  }
}